*{
    box-sizing: border-box;
}
.contact_form{
    width: 50%;
}
.contact{
    background-color: rgb(0,0,0,0.7);
    border-radius: 8px;
    margin: auto;
    width: 1000px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.contact:hover{
    background-color: black;
}

.contact h1 {
    font-size: 45px;
    color: white;
    font-family: arial black;
    border-bottom: 4px solid white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.contact h2 {
    color: white;
    font-size: 35px;
    font-family: arial black;
}

.contact label{
    color: white;
    font-size: 20px;
    font-family: arial;
}

input[type=text], select, textarea,input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type=text]:focus, select:focus, textarea:focus, input[type=email]:focus{
    border: 1.5px solid #278A10 ;
}

input[type=submit] {
    position: relative;
    font-size: 20px;
    font-family: arial;
    width: 60%;
    background-color: #278A10;
    color: white;
    padding: 10px 8px;
    left: 20%;
    right: 20%;
    top: 7px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}

input[type=submit]:hover{
    background: linear-gradient(to right, #56ab2f, #a8e063);
    transform: scale(1.1);
}

.vl {
    border-left: 4px solid white;
    height: 88%;
    position: absolute;
    left: 51.3%;
    top: 10.5%;
}

.mapouter{
    position: absolute;
    top: 9.7%;
    right: -3.1%;
    text-align:right;
    float: right;
    width: 50%;
    height: auto;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    width: 455px;
    height: 294px;
}

.mapouter address{
    color: white;
    text-align: left;
    font-family: arial;
    font-size: 19px;
}

hr{
    border: none;
    height: 4px;
    background-color: black;
}

@media only screen and (max-width:620px){
    
}